[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "~=2.13.4"
isort = "~=5.9.1"
black = {version = "==20.8b1", pre = true}
mypy = "~=0.910"
sqlalchemy-stubs = "~=0.4"
"discord.py-stubs" = "~=1.5.0.1"
coverage = "~=5.5"
pytest = "~=6.2.4"
pytest-asyncio = "~=0.15.1"
pytest-cov = "~=2.11.1"
pytest-random-order = "~=1.0.4"

[packages]
aiohttp = "~=3.6.3"
"discord.py" = "~=1.5.0"
sqlalchemy = "~=1.4.19"
"ruamel.yaml" = "~=0.16.12"
discord-ext-typed-commands = "~=1.0.3"
typing-extensions = "~=3.7.4.3"

[requires]
python_version = "3.8"

[scripts]
bot = "python -m datalore.bot"
test = "python -X tracemalloc=5 -X dev -m pytest"
